# Secrets for both services: Canvas on port 3000, LTI on port 3001
# If new variables are added, make sure to update index.js so they can be imported correctly

# LTI Platform Configuration
# These values come from Canvas when you create a Developer Key
# Since Canvas runs locally, the URL is always localhost:3000
LTI_PLATFORM_URL=https://canvas.instructure.com
LTI_CLIENT_ID=YOUR_DEVELOPER_KEY_CLIENT_ID
CANVAS_URL=http://localhost:3000

# where the LTI tools runs
TOOL_URL=http://localhost:3001
TOOL_PORT=3001

# Canvas API
CANVAS_API_URL=http://localhost:3000/api/v1
CANVAS_ACCESS_TOKEN=YOUR_CANVAS_ACCESS_TOKEN

# SEB Defaults
SEB_DEFAULT_QUIT_PASSWORD=
SEB_DEFAULT_ALLOWED_DOMAIN=localhost:3000

# Database configuration
DATABASE_URL_UNPOOLED={your postgres dbms connection string here}
DATABASE_URL={your postgres dbms connection string here}